@model ASSIGN_Data.Models.SanPham

@{
    ViewData["Title"] = "DetailsKH";
    List<string> extensions = new List<string>() { ".jpg", ".png", ".tiff", ".gif", "jpeg", "webp" };
}

<h1>Sản phẩm</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 my-md-2">
            @Html.DisplayName("Loại sản phẩm")
        </dt>
        <dd class = "col-sm-10 my-md-2">
            @Html.DisplayFor(model => model.LoaiSP.TenLoaiSP)
        </dd>
        <dt class = "col-sm-2 my-md-2">
            @Html.DisplayName("Tên sản phẩm")
        </dt>
        <dd class = "col-sm-10 my-md-2">
            @Html.DisplayFor(model => model.Ten)
        </dd>
        <dt class = "col-sm-2 my-md-2">
            @Html.DisplayName("Giá")
        </dt>
        <dd class = "col-sm-10">
            @string.Format("{0:0,0}", Model.GiaSP)
        </dd>
        <dt class = "col-sm-2 my-md-2">
            @Html.DisplayName("Số lượng còn")
        </dt>
        <dd class = "col-sm-10 my-md-2">
            @Html.DisplayFor(model => model.SLTon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Trạng thái")
        </dt>
        <dd class = "col-sm-10">
            @if (Model.TrangThai == 1)
            {
                <span class="btn btn-success">Còn hàng</span>
            }
            else if (Model.TrangThai == 2)
            {
                <span class="btn btn-danger">Hết hàng</span>
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Màu sắc")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MauSac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Hình ảnh")
        </dt>
        <dd class = "col-sm-10">
            @{
                var extension = System.IO.Path.GetExtension(Model.Anh);
            }
            @if (@extensions.Contains(extension))
            {
                <img src="~/Images/@Model.Anh" height="200px" width="350px">
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="IndexKH" class="btn btn-secondary ms-md-2">Quay lại</a>
</div>
